body
  margin: 0
  font-family: 'system-ui'
  height: 100vh
  width: 100vw

.full-container
  height: 100%
  width: 100%
  display: inline-block

.full-flex
  display: flex
  flex-direction: column
  height: 100%
  width: 100%

.flex-grow
  flex-grow: 1
