@import 'jeet'

.fullscreen
  width: 100%
  max-width 100%
  
.half-column
  column(1/2)
  margin-bottom: 52px

.small-span
  span(1/3)

.big-span
  span(2/3)

.left-border
  border-left: 1px solid rgb(224, 224, 224)
  margin-left: -1px

.bottom-buttons
  absolute: bottom 8px right 8px
  display: inline-block
  text-align: right
  width: 100%
