.switch 
  margin-bottom: 14px

.inline-input__container
  display: flex
  width: 100%
  button 
    margin-top: 14px !important

.inline-input__input
  margin-left: 72px
  flex-grow: 1

.primary-action__color
  color: rgb(0, 188, 212) !important
