.bottom-actions
  width: 100%
  text-align: right 
  button
    margin: 12px !important

.const-field
  margin-top:15px
  small
    font-weight: 500
  p
    margin-bottom: 0
    margin-top: 5px

.inline-input__container
  display: flex
  width: 100%

.inline-input__input
  margin-left: 72px
  flex-grow: 1

.primary-action__color
  color: rgb(0, 188, 212) !important

.switch 
  margin-bottom: 14px

.half-input
  width: 50% !important

.image-input
  margin-bottom: 5px !important
