.big-list
  float: left
  margin: 1%
  width: 58.5%

.big-span
  span(2/3)

.full-size
  absolute: top 0 left 0
  height 100%
  width: 100%

.half-list
  width: 48.5%
  float: left
  margin: 1%

.left-list
  margin-right: .5%

.right-list
  margin-left: .5%

.small-list
  float: left
  margin: 1%
  width: 38.5%

.small-span
  span(1/3)