.big-tile
  float: left
  margin-bottom: 1%
  margin-top: 1%
  width: 58.5%

.big-span
  span(2/3)

.container
  display: inline-block
  height 100%
  width: 100%

.container-padded
  box-sizing: border-box
  display: inline-block
  height 100%
  padding: 0 12px
  width: 100%

.container-padded__full
  box-sizing: border-box
  display: inline-block
  height 100%
  padding: 12px
  width: 100%

.half-column
  column(1/2)

.half-span
  span(1/2)

.half-tile
  float: left
  margin-bottom: 1%
  margin-top: 1%
  width: 48.5%

.left-tile
  margin-left: 1%
  margin-right: .5%

.right-tile
  margin-left: .5%
  margin-right: 1%

.small-tile
  float: left
  margin-bottom: 1%
  margin-top: 1%
  width: 38.5%

.small-span
  span(1/3)
