.big-list
  float: left
  margin: 1%
  width: 58.5%

.half-list
  width: 48.5%
  float: left
  margin: 1%

.small-list
  float: left
  margin: 1%
  width: 38.5%

.left-list
  margin-right: .5%

.right-list
  margin-left: .5%