<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Unahil Ventures CMS</title>

  <!-- Roboto Font -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  
  
</head>
<body>
    <img src="http://localhost:8000/dist/images/kampamocha/products/collar_sandalias/collar_sandalias_0.jpg" alt=""/>
  
  <div id="root" token="<%= authorization_token %>" style="width: 100%; height: 100%" ></div>
</body>
<script src="/dist/app.js"></script>
</html>